<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.calculadora"
    version   = "1.0.0">

<name>Calculadora</name>

<description>
Calculadora Básica.
</description>

<author href="clubsolaris.com/JonathanArgumedo" email="gowpga@hotmail.com">
Jonathan Argumedo
</author>

</widget>
